---
import TableOfContentsList from './TableOfContentsList.astro';
import type { Props } from '@astrojs/starlight/props';
const { labels, toc } = Astro.props;
---

{
	toc && (
		<starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
			<nav aria-labelledby="starlight__on-this-page">
				<span id="starlight__on-this-page">{labels['tableOfContents.onThisPage']}</span>
				<TableOfContentsList toc={toc.items} />
			</nav>
		</starlight-toc>
	)
}

<script src="../../../node_modules/@astrojs/starlight/components/TableOfContents/starlight-toc"></script>